<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="5">

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %p c=%c{1.} t=%t %m%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="com.example" level="INFO"/>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>

</Configuration>
